.col100 {
    width: 100%;
}

.col95 {
    width: 95%;
}

.col90 {
    width: 90%;
}

.col80 {
    width: 80%;
    
}

.col75 {
    width: 75%;
    
}

.col66 {
    width: 66.6666%;
    
}

.col60 {
    width: 60%;
}

.col50 {
    width: 50%;
}

.col40 {
    width: 40%;
}

.col33 {
    width: 33.33333%;
    
    
}

.col25 {
    width: 25%;
    
}

.col20 {
    width: 20%;
    
}

.col10 {
    width: 10%;
    
}

.col5 {
    width: 5%;
}

