html {
    font-size: 16px;
    box-sizing: border-box;
}

.hamburger {
    height: 0px auto;
    width: 0px auto;
    padding: 0px auto;
    display: block;
    z-index: 1;
}
  
#checkbox-menu{
    position: absolute;
    opacity: 0;
}

.menu, .submenu {
    font-family: 'Mukta', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    list-style: none;
    background: rgb(200, 200, 200, 0.5);   
    z-index: 1;
}

.menu {
    padding-left: 0px;
    position: fixed;
    width: 100vw;
}

.menu li {
    position: relative;
}

.menu > li {
    float: left;
}

.menu a {
    text-decoration: none;
    display: block;
    padding: 1.2em;
    color: white;

}
.submenu {
    display: none;
    position: absolute;
    min-width: 11.4em;
    color: black;
    
}

.menu > li:hover {
    background: rgba(184, 27, 22, 0.6);
}

.menu li:hover > .submenu {
    display: block;
}

.submenu li:hover {
    background:rgba(184, 27, 22, 0.6);
}

.clearfix:after{
    content: '.';
    display: block;
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
    visibility: hidden;
    overflow: hidden;
}

.triangle-demo {
    border-top: 0 solid white;
    border-left: 0 solid black; 
    border-bottom: 0 solid black;
    border-right: 0 solid black;
    border-top-width: 7px;
    border-left-width: 7px;
    border-right-width: 7px;
    border-bottom-width: 7px;
    width: 0; height: 0;
    border-bottom-color: transparent; 
    border-left-color: transparent; 
    border-right-color: transparent;
    margin: -13px 0px 0px 130px;
}  


footer {
    display: block;
    position: relative;
    padding: 0px;
    margin: 0px auto;
    background-color: none;
    font-size: 1rem;
    

}


.menu-footer { 
    font-family: 'Mukta', sans-serif;
    font-weight: bold;
    font-size: .9em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 0px;
    height: 50%;
    margin: 0px auto;
    float: left;
   
    background: red;  
    
    
}

.menu-footer > ul {
    padding: 10px 70px;

}

.menu-footer ul a {
    display: block;
    text-decoration: none;
    padding: .3em;
    color: black;
}


.submenu-footer li {
    margin-left: 30px;
    font-weight: bold;
}

.col-footer {
    font-family: 'Scada', sans-serif;
    font-weight: normal;
    text-transform: normal;
    text-decoration: none;
    height: 50%;
    float: left;
    background-color: red;
    padding: 20px 0px;
    
    
}

.col-footer p {
    font-size: .9em;
    line-height: 1.5em;
    letter-spacing: .03em;
    width: 50%;
    float:right;
    padding: 10px 70px;
    
}




.fas, .fab {
    font-size: 1.4em;
    color: black;
    position: relative;
   
   
}

.fa-facebook {
    left: 0px;
   
}

.fa-instagram {
    left:40px;
}

.fa-twitter {
    left:80px;
   
}

.banner {
    z-index: 0;
    height: 100%;
    background-image: url("banner.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: right center;
}


.txt-container {
    background-color: none;
    height: 100%;
    padding: 60px 0px;
    margin: 0px;
}

.txtdir {
    float: right;
    padding: 15px 0px; ;
    background-color: none;
    font-size: 1rem;
    
}

.txtesq {
    float: left;
    padding: 15px 0px;   
    text-align: right;
    background: none;
    font-size: 1rem;
}

hr {
    height: 4px;
    background-color: black;
    border: black;
    
    
}

h1 {
    font-family: 'Scada', sans-serif;
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0.2em 0px;
    background-color: none;
}

h2 {

    font-family: 'Mukta', sans-serif;
    font-size: 1.3em;
    font-weight: normal;
    letter-spacing: .01em;
    line-height: 1.3em;
    margin: 0.2em 0px;
}

h3 {
    font-family: 'Mukta', sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 30px;
    color: none;
    padding: 10px 10px;

}

h4 {
    font-family: 'Mukta', sans-serif;
    font-size: 1.3em;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 30px;
    margin-left: 200px;
    margin-bottom: 50px;
    text-align: left;
    position: absolute;
    display: block;
    
}

.margin-dir {
    margin-right: 50px;
}

.margin-esq {
    margin-left: 50px;
}


.img-container {    
    padding: 0px;
    
    height: 70%;
    background-color: none;
   
    position: relative;
    display: block;
   
}


.img {
    float: left;
    display: block;
  
    height: 100%;
    background-image: url("produtores.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: yellow; 
}

.txt {
    
    padding: 1rem 1rem; 
    text-align: left;
    background:white;
    border-bottom: 4px solid black;
  
    min-width: 15rem;
    font-size: 1rem;
    text-align: center;
    position: relative;
    left: 5%;
    top: 50%;
}


.txt > h1, .txtflu > h1 {
    font-size: 2em;
    
}



.imgesq {
    margin: 0px 0px 0px 0px;
    padding: 0px;
    float: left;
    height: 100%;
    background-image: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    position: relative;
    display: block;
    
    
}

.imgesq img, .imgdir img {
    width: 100%;
    margin: 0px;  

}

.imagem {
    padding: 0px;
}


.txtflu {
    margin: 0px;
    padding: 1rem 1rem; 
    text-align: left;
    background: yellow;
    border-bottom: 4px solid black;
    font-size: 1rem;
    text-align: center;
    position: relative;
    top:0px;
}

.contato-conteiner {
    position: relative;
    display: block;
}

form {
    font-family: 'Mukta', sans-serif;
    font-size: 1rem;
    background-color: rgba(231, 219, 219, 0.411);
    color: black;
    padding: 50px 0px 0px 25%;
    margin: 0px auto;
    height: 70%;
    position: relative;
    text-align: left;
    
}

.class-input, .class-textarea {
    display: block;
    float: left;
    padding: 10px 20px;
}

.class-submit {
    display: block;
    
    padding: 10px 20px;
}

input[type=text] {
    font-family: 'Mukta', sans-serif;
    font-size: 1em;
    padding: 5px 10px;
    margin: 0px auto;
    width: 100%;
    border: none;
    border-bottom: 4px solid black;
    background-color: white;
    box-sizing: inherit;
}

form textarea {
    font-family: 'Mukta', sans-serif;
    font-size: 1em;
    width: 100%;
    height: 30%;
    padding: 5px 10px;
    
    border: none;
    border-bottom: 4px solid black;
    resize: none;
    box-sizing: inherit;

} 

input[type=submit] {
    
    font-family: 'Mukta', sans-serif;
    font-size: 1em;
    padding: 10px 10px;
    margin: 0px auto;
    width: 100%;
  
    border: none;
    border-bottom: none;
    background-color: black;
    box-sizing: inherit;
    color: white;
    
  
}




