html {
    font-size: 16px;
}

.hamburger {
    height: 0px auto;
    width: 0px auto;
    padding: 0px auto;
    display: block;
    z-index: 1;
}
  
#checkbox-menu{
    position: absolute;
    opacity: 0;
}

.menu, .submenu{
    font-family: 'Mukta', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    text-transform: uppercase;
    list-style: none;
    background: rgb(200, 200, 200, 0.5);   
    z-index: 1;
}

.menu {
    padding-left: 0px;
    position: fixed;
    width: 100vw;
}

.menu li {
    position: relative;
}

.menu > li {
    float: left;
}

.menu a{
    text-decoration: none;
    display: block;
    padding: 1.2em;
    color: white;
    

}
.submenu {
    display: none;
    position: absolute;
    min-width: 11.4em;
}

.menu > li:hover {
    background: rgba(184, 27, 22, 0.6);
}

.menu li:hover > .submenu {
    display: block;
}

.submenu li:hover {
    background:rgba(184, 27, 22, 0.6);
}

.clearfix:after{
    content: '.';
    display: block;
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
    visibility: hidden;
    overflow: hidden;
}

.triangle-demo {
    border-top: 0 solid white;
    border-left: 0 solid black; 
    border-bottom: 0 solid black;
    border-right: 0 solid black;
    border-top-width: 7px;
    border-left-width: 7px;
    border-right-width: 7px;
    border-bottom-width: 7px;
    width: 0; height: 0;
    border-bottom-color: transparent; 
    border-left-color: transparent; 
    border-right-color: transparent;
    margin: -13px 0px 0px 130px;
}  

.fas, .fab {
    font-size: 1.4em;
    color: white;
    position: absolute;
   
   
}

.fa-facebook {
    right: 23%;
}

.fa-instagram {
    right: 19%;
}

.fa-twitter {
    right: 15%;
}

.banner {
    z-index: 0;
    height: 100%;
    background-image: url("banner.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: right center;
    
}


.txt-container {
    background-color: none;
    height: 100%;
    padding: 60px 0px;
    margin: 0px;
}

.txtdir {
    float: right;
    padding: 15px 0px; ;
    background-color: none;
    font-size: 1rem;
    
}

.txtesq {
    float: left;
    padding: 15px 0px;   
    text-align: right;
    background: none;
    font-size: 1rem;
}

hr {
    height: 4px;
    background-color: black;
    border: black;
    
    
}

h1 {
    font-family: 'Scada', sans-serif;
    font-size: 3em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0.2em 0px;
    background-color: none;
}

h2 {

    font-family: 'Mukta', sans-serif;
    font-size: 1.3em;
    font-weight: normal;
    letter-spacing: .01em;
    line-height: 1.3em;
    margin: 0.2em 0px;
}

h3 {
    font-family: 'Mukta', sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 30px;
    color: none;
    padding: 10px 10px;

}

h4 {
    font-family: 'Mukta', sans-serif;
    font-size: 1.3em;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 30px;
    margin-left: 200px;
    margin-bottom: 50px;
    text-align: left;
    position: absolute;
    display: block;
    
}

.margin-dir {
    margin-right: 50px;
}

.margin-esq {
    margin-left: 50px;
}


.img-container {
    padding: 0px 0px;
    margin-top: 30px;
    height: 70%;
    background-color: none;
    align-items: center;
    position: relative;
    display: block;
   
}


.img {
    float: left;
    margin-left: 50px;
    margin-right: 50px;
    height: 100%;
    background-image: url("produtores.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: yellow; 
}

.txt {
    
    padding: 1rem 1rem; 
    text-align: left;
    background: yellow;
    border: black solid 2px;
  
    min-width: 15rem;
    font-size: 1rem;
    text-align: center;
    position: relative;
    left: 5%;
    top: 50%;
}


.txt > h1 {
    font-size: 2em;
    
}

.imgesq {
    margin-left: 50px;
    float: left;
    height: 400px;
    background-image: url("produtores.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.img img {
    width: 100%;
}

.imgesq img, .imgdir img {
    width: 100%;
    padding-left: 20px;
}

.txtflu {
    padding: 1rem 1rem; 
    text-align: left;
    background: yellow;
    border: black solid 2px;
    max-width: 30rem;
    min-width: 5rem;
    
    font-size: 1rem;
    position: absolute;
    text-align: center;
    top:300px;
}



/*
.img-container1 {
    padding: 0px 0px;
    height: 100vh;
    background-color: yellow;
    align-items: center;
    
   
}

.txtflu-container1 {
    background-color:  rgba(200, 200, 200);
    border: solid 0px black;  
    align-items: center;
    position: absolute;
    padding: 10px 10px;
    top: 80%;
    left: 70%;

}

.txtflu-container1 > h1, .txtflu-container1 > h2, .txtflu-container1 > h3 {
    text-align: center;
    margin: 10px;
}
 
.img-container2 {
    
    padding: 0px 0px;
    height: 100%;
    background-color: pink;
    align-items: center;
   
}




.txtflu-container2 {
    background-color:  rgba(200, 200, 200);
    border: solid 0px black;  
    align-items: center;
    position: absolute;
    padding: 10px 10px;
    

}

.txtflu-container2 > h1, .txtflu-container2 > h2, .txtflu-container2 > h3 {
    text-align: center;
    margin: 10px;
}


